.btnA{
    border: none;
    border-radius: 10px;
    padding: 10px; 
    font-weight: bolder;
    margin-top: 15px;
    background-color: #74FAC0 ;
    cursor: pointer;
}

.btnA:hover{
    color: aliceblue;
    background-color: #010B28;
    transform: translateY(-7px);
    transition-duration: 0.5s;
}